.config/emacs/elpa
.config/emacs/transient
.config/emacs/auto-save-list
.config/i3blocks/blocks/i3blocks-contrib
/.config/emacs/projectile-bookmarks.eld
/.config/emacs/forge-database.sqlite
/.config/emacs/.cache/
/.config/emacs/bookmarks
/.config/emacs/image-dired/
/.config/emacs/nov-places
/.config/emacs/projects
/.config/emacs/history
